@using EvaComponentLibrary.ViewModels;
@using EvaComponentLibrary.Services;
@using EvaComponentLibrary.Languages;
@using System.Globalization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<MyStrings> _locals;
@inject NavigationManager NavigationManager;
@inject Logistic _lg;
@inject EMailViewModel _evm;
@inject WebServices _ws;
<div class="main email-container">
    <div class="email-tabs-container">
        <div class="tabs @(_activeTab ? string.Empty : "activeOne")" @onclick="ToggleActiveTab">
            <h4>@_locals["_add"]</h4>
        </div>
        <div class="tabs  @(_activeTab ? "activeOne" : string.Empty)" @onclick="ToggleActiveTab">
            <h4>@_locals["_manage"]</h4>
        </div>
        <div class="active-tab @(_activeTab ? "active-second" : string.Empty)"></div>
    </div>
    <MudIconButton Icon="@Icons.Material.Filled.Info" OnClick="InfoUploadDialog" Size="Size.Small" Color="Color.Primary" Class="@(_lg.IsInfoButtonHide ? string.Empty :  "hide-the-info-buttons" )" />
    <div class="email-content-container ">
        @ActiveTab
    </div>
</div>

@code {
    [Parameter]
    public string SubTab { set; get; }
    private bool _activeTab = false;
    private bool _isLoading = false;
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        
        _lg.UpdateLanguage += update;
    }
    private RenderFragment ActiveTab => (SubTab?.ToLowerInvariant()) switch
    {
        "add" => @<AddEmail />,
        "manage" => @<ManageEmail IsLoading="@_isLoading"  />,
        _ =>  @<AddEmail />
    };
    protected override void OnParametersSet()
    {
        _activeTab = (SubTab?.ToLowerInvariant()) switch
        {
            "add" => false,
            "manage" => true,
            _ => false
        };
    }
    private async Task ToggleActiveTab(){
        _activeTab = !_activeTab;
        if(_activeTab){
            NavigationManager.NavigateTo("/res/mail/manage");
            _isLoading = true;
            await Task.Delay(2000);
            await _evm.GetMailAccounts();
            _isLoading = false;
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }else
        {
            NavigationManager.NavigateTo("/res/mail/add");
        }
    }
    private async void update()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    private void InfoUploadDialog()
    {
        _lg.InfoMessage_1 = _locals["_emailInfo"];
        _lg.OnInfoModalToggle = true;
        _lg.UpdateInfoModal?.Invoke();
    }
}
